/*  
Variáveis de cor para facilitar manutenção
Aqui definimos o esquema de cores da identidade visual da ONG
*/
:root {
  --c-azul: #1f2e4a;    /* Azul escuro para textos e header */
  --c-amarelo: #ffd55a; /* Amarelo para destaques de fundo */
  --c-verde: #6dd47e;   /* Verde para botões e detalhes */
  --c-branco: #f5f0e0;  /* Fundo geral suave */

  /* Escala de espaçamentos (8px base) */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  /* Tipografia (tamanhos base) */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 28px;
  --fs-xxl: 36px;
  
}
body.high-contrast {
  --c-azul: #000;
  --c-branco: #fff;
  --c-verde: #000;
}

body.dark {
  --c-azul: #4b4b4b;
  --c-branco: #000000;
}
